{% extends 'base.html' %}
{% load bootstrap%}
{% block title %}Lista de funcionários {% endblock %}

{% block main %}
<h3>Cadastrar Funcionário</h3>
    <form method="post">
        {% csrf_token %}
        {{form|bootstrap}}
        <button type="submit" class="btn btn-main">Salvar</button>
    </form>
        <h3>Documentos</h3>
        <a href="{% url 'create_documento' object.id %}" class="btn btn-success">Adicionar Arquivo</a><br>

        {% for documento in object.documento_set.all %}
            <a href="{{ documento.arquivo.url }}">{{ documento }}</a><br>
        {% endfor %}
        <hr>
        <h3>Registro de horas extras</h3>
        {% for registro_hora in object.registro_hora_extra_set.all %}
            {{ registro_hora }} - {{ registro_hora.horas }}
        {% endfor %}
{% endblock %}