{% extends 'base.html' %}
{% load bootstrap%}
{% block title %}Lista de funcionários {% endblock %}

{% block main %}
<h3>Cadastrar Funcionário</h3>
    <form method="post">
        {% csrf_token %}
        {{form|bootstrap}}
        <button type="submit" class="btn btn-info">Salvar</button>
    </form>
        <h3>Documentos</h3>
        <a href="{% url 'create_documento' object.id %}" class="btn btn-success">Adicionar Arquivo</a><br>

        {% for documento in object.documento_set.all %}
            <a href="{{ documento.arquivo.url }}">{{ documento }}</a><br>
        {% endfor %}
        <hr>
        <h3>Registro de horas extras</h3>
        <ul>
        {% for registro_hora in object.registro_hora_extra_set.all %}
           <li>
                <a href="{% url 'update_hora_extra' registro_hora.id %}">{{ registro_hora }} </a> - {{ registro_hora.horas }}
            </li>
        {% endfor %}
        </ul>
        <hr/>
        <h3>Total de horas extra = {{ object.total_hora_extra.total }}</h3>
        <h3>Media de horas extra = {{ object.total_hora_extra.media }}</h3>
        <a href="{% url 'novo_hora_extra'%}" class="btn btn-success">Adicionar Hora extra </a>
{% endblock %}