{% extends 'base.html' %}
{% block title %}Lista de funcionários {% endblock %}

{% block main %}
    <h3>Lista de funcionários</h3>
    <table border="1" width="100%">
        {% for funcionario in object_list %}
           <tr>
              <td><a href="{% url 'delete_funcionarios' funcionario.id %}" class="btn btn-danger">Deletar</a></td>
               <td><a href="{% url 'update_funcionarios' funcionario.id %}"> {{ funcionario }}</a></td>
              <td>{{ funcionario.empresa }}</td>
           </tr>
        {% endfor %}
    </table>
    <hr>
    <a href="{% url 'create_funcionarios' %}" class="btn btn-info">Novo</a>
{% endblock %}