{% extends 'base.html' %}
{% load bootstrap%}
{% block title %}Lista de funcionários {% endblock %}

{% block main %}
<h3>Cadastrar Funcionário</h3>
    <form method="post">
        {% csrf_token %}
        {{form|bootstrap}}
        <button type="submit">Salvar</button>
    </form>
    <br>
    <a href="{% url 'create_documento' object.id %}" class="btn btn-success">Adicionar Arquivo</a><br>

    {% for documento in object.documento_set.all %}
        <a href="{{ documento.arquivo.url }}">{{ documento }}</a><br>
    {% endfor %}
{% endblock %}